<button ngClass="remove" (click)="onRemoveTrip()" *ngIf="isAdmin">
    <img src="assets/icons/trash.svg" alt="-">
</button>

<div 
    [ngClass]="{
        'reservations':true, 
        'hide': reservations == 0, 
        'green': reservations >= 10, 
        'red' : reservations < 10
}">
    {{reservations}}
</div>

<div ngClass="image" (click)="routeToDetails()">
    <img [src]="image" [alt]="name">
</div>

<div class="title">
    <h2 ngClass="name">{{name | uppercase}}</h2>
    <h3 ngClass="country">{{country | uppercase}}</h3>
</div>

<div ngClass="content">    
    <div ngClass="date">{{date.start | date}} - {{date.end | date}}</div>
    <div ngClass="description">
        <p>
            {{description}}
        </p>
    </div>

    <div ngClass="price">{{ price | currency : true | async }}</div>
    <div ngClass="quantity">
        <div [ngClass]="[ getAvailableClassVariant(),'quantity__available' ]"> 
            {{quantity - selected | quantity}} 
        </div>
        <div ngClass="selected" *ngIf="isNotAnon">
            <button 
                (click)="onRemoveUnit()" 
                [ngClass]="{'hide': selected == 0}"
            >
                -
            </button>
            <div 
                ngClass="selected__quantity"
            >
                {{selected}}
            </div>
            <button 
                (click)="onAddUnit()" 
                [ngClass]="{'hide': quantity <= selected}"
            >
                +
            </button>
        </div>
    </div>
    <app-rates 
        [rates]="rates" 
        [id]="id"
        [disabled]="true"
    ></app-rates>
    <a [routerLink]="path" ngClass="more-details" *ngIf="isNotAnon"> More details</a>
</div>
