*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

:root {
    --default-shadow-color : 66, 68, 90;
    --default-shadow : 0px 0px 1rem 0px rgba( var(--default-shadow-color), .25);
    --default-light-shadow : 0px 0px 1rem 0px rgba(var(--default-shadow-color), .1);
    --pagination-button-size : 2rem;
    --default-border-radius : 1rem;
    --default-shadow-filter: drop-shadow(0px .5rem 1rem #ddd);
    --fg-hover-color: rgb(253, 241, 220);
    --fg-focus-color: rgb(197, 188, 171);
}

.container {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* FILTERS */

.filters-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    box-shadow: var(--default-shadow);
    border-radius: var(--default-border-radius);
}

.filters-container > h1 {
    text-align: center;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}


.filters input {
    padding: .5rem;
    border-radius: .25rem;
    border-width: 1px;
    box-shadow: var(--default-light-shadow);
}

.filter {
    display: grid;
    gap: 1rem;
}

.population-filter h4,
.area-filter h4 {
    grid-column: 1 / 3;
}

.filter input {
    width: 100%;
}

.general-filter,
.population-filter {
    grid-column: 1 / 3;
}

.area-filter {
    grid-column: 3 / 5;
}

/* ERROR BOX */

.errorBox {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: red;
    padding: 1rem;
    max-width: min( calc( 100vw - 2rem ), 500px);
    color: white;
    font-weight: 500;
    transform: translateY(100vh);
    transition: transform .25s ease;
}

.show {
    transform: translate(0);
}


/* PAGINATION */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem;
}

.pagination button {
    height: var(--pagination-button-size);
    min-width: var(--pagination-button-size);

    cursor: pointer;
    padding: .5rem;
    
    font-weight: 700;

    background-color: #888;
    color: white;
    
    border-radius: .5rem;
    border: none;
    
    transition: 
        background-color .25s ease,
        color .25s ease;
    box-shadow: var(--default-shadow);
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button:active {
    color: var(--fg-hover-color);
    background-color: var(--fg-focus-color);
}

.active {
    background-color: #000 !important;
}

.index-item.hide {
    font-size: 0;
    padding: 0;
    min-width: 0;
    height: 0;
    display: none;
}

/* TABLE */

.container table {
    width: 100%;
    border-spacing: 0rem;
    max-width: 1024px;
    position: relative;
    table-layout: fixed;
    border-radius: var(--default-border-radius);
    border-collapse: collapse;
    /* background-color: white; */
    /* box-shadow: var(--default-shadow); */
}

/* TABLE BORDER RADIUS */

table tbody:before {
    content: "";
    display: block;
    height: 1rem;
}
table tbody:last-child:before {
    display: none;
}

.table-wrapper {
    contain: paint;
    border-radius: var(--default-border-radius);
}

/* TABLE HEADER */

.container table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    filter: var(--default-shadow-filter);
    text-overflow: ellipsis;
}

.container table thead th {
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: background-color .25s ease;
    padding-left: 0;
    padding-right: 0;
}

.container table thead th:hover {
    background-color: var(--fg-hover-color);
}

.container table thead th:active {
    background-color: var(--fg-focus-color);
}

/* TABLE SECTIONS */

.container tbody td {
    /* border-bottom: .25rem solid rgb(248, 241, 227) ; */
}

.container table td,
.container table th {
    padding: 1rem;
    min-width: 200px;
}

.subregion {
    border-radius: 1rem;
    contain: paint;
}

.subregion__item {
    background-color: white;
    /* background-color: rgb(241, 229, 204); */
}

.subregion .subregion__item > *{
    transition: 
        transform .25s ease,
        padding .25s ease,
        font-size .25s ease,
        border-width .25s ease
    ;
}

.subregion:has( .subregion__header.hide ) .subregion__item > * {
    max-height: 0;
    
    margin: 0;
    padding: 0;
    
    border-width: 0;
    font-size: 0;
}

.subregion__header {
    background-color: #ccc;
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    /* box-shadow: var(--default-light-shadow); */
}

.subregion__header > .header-cell {
    padding-left: 2.5rem;
}

.sort-asc::before,
.sort-desc::before,
.subregion__header td::before{
    content: "";
    position: absolute;

    /* background-color: white; */
    width: 1rem;
    height: 1rem;
    left: 1rem;
    top: 50%;

    background: url('icon/chevron.svg');
    background-position: center;
    transition: transform .25s ease;

    filter: brightness(0);
}

.sort-asc::before {
    transform: translateY( -50% );
}
.sort-desc::before {
    transform: translateY( -50% ) rotateZ(180deg);
}

.subregion__header td::before {
    filter: brightness(0) invert(1);
    transform: translateY(-50%) rotate(360deg);
}

.subregion__header.hide td::before {
    transform: translateY(-50%) rotate(270deg);
}

.subregion__item.hide {
    display: none;
}

.subregion.hide {
    display: none;
}

.number {
    text-align: right;
}

/* RESPINSIVE */

@media (max-width: 680px) {
    .sort-desc::before, 
    .sort-asc::before {
        left: 50%;
        bottom: 0;
        top: initial
    }

    .sort-asc::before {
        transform: translateX(-50%);
    }
    
    .sort-desc::before {
        transform: translateX(-50%) rotateZ(180deg);
    }
    
    .filters-container {
        width: 100%;
    }

    .filters {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .general-filter,
    .population-filter,
    .area-filter {
        grid-column: 1 / 3;
    }
}

@media (max-width: 440px) {
    
    .filters {
        grid-template-columns: 1fr;
    }

    .general-filter,
    .population-filter,
    .area-filter {
        grid-column: 1 / 2;
    }
}
