<h1>Register</h1>

<form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <app-input 
        [formGroup]="modelForm" 
        ngClass="nick"
        controlName="nick"
        label="Nickname"
        placeholder="Nick" 
    ></app-input>
    
    <app-input 
        [formGroup]="modelForm" 
        ngClass="email"
        controlName="email"
        label="Email"
        placeholder="your@mail.com"
        type="email" 
    ></app-input>

    <app-input 
        [formGroup]="modelForm" 
        ngClass="password"
        controlName="password"
        label="Password"
        type="password" 
    ></app-input>

    <app-input 
        [formGroup]="modelForm" 
        ngClass="birth-date"
        controlName="birthDate"
        label="Birth date"
        type="date" 
    ></app-input>

    <input 
        [disabled]="!modelForm.valid" 
        type="submit" 
        value="Login"
    >
</form>