<app-trip-item 
    *ngFor="let trip of (trips | filter : filters )"
    
    [id]="trip.id"
    [name]="trip.name"
    [country]="trip.country"
    [date]="trip.date"
    [quantity]="trip.quantity"
    [price]="trip.price"
    [description]="trip.description"
    [image]="trip.image"
    [reservations]="getReservations(trip.id)"
    [rates]="trip.rates || []"
    [disabled]="trip.quantity - getReservations(trip.id) == 0"
    [costliest]="trip.id == costliestId"
    [cheapest]="trip.id == cheapestId"
></app-trip-item>