:host {
    background-color: white ;
    padding: 1rem;
    border-radius: 1rem;

    form {
        h3 {
            padding: .5rem 0;
        }
        display: flex;
        flex-direction: column;
        gap: .25rem
    }
}