:host {
    width: 100%;
    padding: 2rem;
    
    .container {
        width: 100%;
        background-color: white;     
        padding: 1rem;
        border-radius: 1rem; 
        .users {
            display: flex;
            gap: .5rem;
            flex-direction: column;
            .user {
                display: flex;
                justify-content: space-between;
                
                button {
                    background-color: red;
                    color: white;
                    font-weight: 600;
                    padding: .5rem 1rem;
                    border-radius: .25rem;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}