:host {
    width: 100%;
    padding: 2rem;
    
    .container {
        width: 100%;
        background-color: white;     
        padding: 1rem;
        border-radius: 1rem; 
        .users {
            display: flex;
            gap: .5rem;
            flex-direction: column;
            .user {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}