@use 'variables';
@use 'mixins';

:host {
    cursor: pointer;

    width: 1rem;
    height: 1rem;

    background-color: white;
    position: relative;
    padding: 1rem;
    
    @include mixins.clip-star;
    
    .bar {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;

        transform: background-color .25s ease;
    }

    .contain {
        background-color: darken(gold, 20%);
    }

    .current {
        background-color: darken(variables.$bgGreen, 30%);
    }

    &:has(.disabled) {
        cursor: initial !important;
    }

    &:has(.small) {
        padding: .5rem;
    }
}