<label [for]="controlName">
    {{label}}
</label>

<!-- INPUT TYPES TEMPLATES -->

<ng-template [ngIf]="getType() == 'textarea'">
    <textarea 
        [name]="controlName"
        [formControlName]="controlName"
        [placeholder]="placeholder"
        [maxLength]="max"
        [value]="value"
        (input)="handleInput($event)"
        [rows]="rows"
    >
    </textarea>
</ng-template>

<ng-template [ngIf]="getType() == 'select'">
    <select 
        [name]="controlName"
        [formControlName]="controlName"
        [value]="value"
        (input)="handleInput($event)"
    >
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
</ng-template>

<ng-template [ngIf]="getType() == 'default'">
    <input 
        [name]="controlName"
        [type]="type" 
        [formControlName]="controlName" 
        [placeholder]="placeholder" 
        [min]="min"
        [max]="max"
        [value]="value"
        (input)="handleInput($event)"
    >
</ng-template>
