/* You can add global styles to this file, and also import other style files */
@use 'variables';

@font-face {
    font-family: Wahyu and Sani;
    src: url(assets/fonts/Wahyu-and-Sani-Genera-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Wahyu and Sani;
    src: url(assets/fonts/Wahyu-and-Sani-Genera-Alt-Light.ttf);
    font-weight: normal;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: variables.$bgColor;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/assets/img/pattern2.png');
    background-repeat: repeat;
    background-blend-mode:screen;
}

h1, h2, h3, h4 {
    font-family: Wahyu and Sani, Arial, Helvetica, sans-serif;
}