@use 'variables';
@use 'mixins';

:host {
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;

    background-color: white;
    
    @include mixins.default-drop-shadow;

    .container {
        padding: 1.5rem 1rem;
        width: 100%;
        max-width: variables.$maxWidth;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .tiles {
            @include mixins.default-drop-shadow-strong;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            .tile {
                
                gap: .5rem;
                background-color: white;
                padding: 1rem;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                border-radius: .5rem;

                a {
                    text-decoration: none;
                }
                img {
                    height: 4rem;
                }
            }
        }
        & > p {
            text-align: center;
        }
    }
}

@media (max-width: variables.$tabletMidPointWidth) {
    :host {

        .container .tiles {
            grid-template-columns: 1fr;
        }
    }
}