<div ngClass="container">
    <div ngClass="tiles">
        <div ngClass="tile">
            <img src="/assets/icons/location.svg" alt="🗺">
            <h2>Adres</h2>
            <p>127 Kawiory,</p>
            <p>Kraków, 30-055</p>
        </div>
    
        <div ngClass="tile">
            <img src="/assets/icons/phone.svg" alt="📞">
            <h2>Zadzwoń do nas*</h2>
            <p><a href="tel:+48504234311">+48 504 234 311</a></p>
            <p><a href="tel:+48126532456">+48 12 65 324 56</a></p>
        </div>
        
        <div ngClass="tile">
            <img src="/assets/icons/email.svg" alt="✉">
            <h2>Email</h2>
            <p><a href="mailto:contact@traveltours.com">contact@traveltours.com</a></p>
            <p><a href="mailto:orders@traveltours.com">orders@traveltours.com</a></p>
        </div>
        
        <div ngClass="tile">
            <img src="/assets/icons/clock.svg" alt="⌚">
            <h2>Godziny otwarcia biura</h2>
            <p>Poniedziałek - Piątek</p>
            <p>9:00 - 17:00</p>
        </div>
    </div>


    <p>* W celu zapewnienia wysokiej jakości naszych usług, nasza infolinia jest aktywna całą dobę</p>
</div>