<h2>Add trip</h2>

<form [formGroup]="modelForm" (ngSubmit)="onSubmit()" >
    <app-input 
        [formGroup]="modelForm" 
        controlName="name"
        label="Name"
        placeholder="Baśniowa..." 
    ></app-input>
    
    <app-input 
        [formGroup]="modelForm" 
        controlName="country"
        label="Country"
        type="select"
        [options]="countries"
    ></app-input>

    <app-input 
        [formGroup]="modelForm" 
        controlName="description"
        label="Description"
        type="textarea"
        max="130"
    ></app-input>
    
    <!-- IMAGE -->
    
    <app-input 
        [formGroup]="modelForm" 
        controlName="image"
        label="Image"
        placeholder="https://"
    ></app-input>

    <!-- NUMBERS -->

    <app-input 
        [formGroup]="modelForm" 
        controlName="price"
        label="Price (PLN)" 
        type="number"
        min="0"
    ></app-input>

    <app-input 
        [formGroup]="modelForm" 
        controlName="quantity"
        label="Quantity" 
        type="number"
        min="0"
    ></app-input>

    <!-- DATE -->

    <app-input 
        [formGroup]="modelForm" 
        controlName="startDate"
        label="Start date"
        type="date"
        [min]="today"
    ></app-input>

    <app-input 
        [formGroup]="modelForm" 
        controlName="endDate"
        label="End date"
        type="date"
        [min]="startDate"
    ></app-input>
    <input [disabled]="!modelForm.valid" type="submit" value="Create">
</form>


