:host {
    min-height: inherit;
    nav {
        z-index: 2;
        background-color: white;
        position: sticky;
        top: 0;

        display: flex;        
        box-shadow: 0 0 2rem -1rem rgba(66, 68, 90, .5);

        a {
            padding: 1rem;
            text-decoration: none;
            background-color: white;
            
            transition: background-color .25s ease;

            &:hover {
                background-color: #efefef;
            }
        }
    }
}