@mixin clear-drop-shadow {
    filter: drop-shadow(0 0 0 #0000);
}


@mixin default-drop-shadow {
    filter: drop-shadow(0 0 0.25rem #0003);
}

@mixin default-drop-shadow-strong {
    filter: drop-shadow(0 0 0.25rem #0004);
}