/// This file contains variables used in whole project ///

//// COLORS ////

$bgColor: rebeccapurple;
$bgGreen: rgb(204, 255, 204) ;
$bgRed: lightcoral;

$borderColor: yellow;

$maxWidth: 1200px;
$specialFontFamily: Wahyu and Sani, Arial, Helvetica, sans-serif;


/// MEDIA ///

$desktopWidth: 1160px;
$tabletWidth: 950px;
$mobileWidth: 620px;