<div [ngClass]="{'rates' : true, 'disabled' : disabled}">
    <app-rate-element 
        *ngFor="let star of getStars(); let i=index"
        [index]="star.index"
        [contain]="star.contain"
        [current]="star.current"
        [id]="id"
        [disabled]="disabled"
        [small]="small"
        (handleClick)="onClick($event)"
    ></app-rate-element>
</div>
<div ngClass="summary" *ngIf="!minimal"> 
    {{avg | number : "1.1-1"}} / {{max | number : "1.1-1"}} 
    ({{rates.length || 0}})
</div>