@use 'variables';
@use 'mixins';

:host {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixins.default-drop-shadow;
    
    
    nav {

        padding: 1rem 2rem;
        max-width: variables.$maxWidth;
        width: 100%;
        position: relative;
        z-index: 110;
        display: flex;
        gap: 1rem;
        background-color: white;
        overflow: visible;

        .logo-short {
            display: none;
        }

        .content {
            position: relative;
            z-index: 1;
            flex: 1;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            gap: 1rem;
        }

    }
}

@media (max-width : variables.$mobileWidth) {
    :host {
        nav {
            .logo {
                // content: "elo";
                display: none;
            }
            .logo-short {
                display: block;
            }
        }
    }
}